*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body{
	font-family: helvetica, sans-serif, "Times New Roman";
	font-size: 12px;

}
/*
=======================================================================================
Header section
=======================================================================================
*/

.header{
	height: 112px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	display: flex;
	-webkit-display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	z-index: 1;
}

.part {
	width: 20%;
	height: inherit;
/*	background-color: grey;*/
}

.one {
/*	background-color: red;*/
}

.two {
/*	background-color: pink;*/
	flex-grow: 3;
}
.three {
/*	background-color: yellow;*/
}


/*
======================================================================================
navigation section
======================================================================================
*/

.nav-section{
	height: 49px;
	width: 100%;
/*	background: tomato;*/
	margin: 0 auto;
}

.topnav{
	list-style-type: none;
}

ul li.active {
	background-color: lightgreen;
}

.nav-section {
	margin-left: 30px;
}

.nav-section .topnav li{
	height: 49px;
	display: inline-block;
	padding: 8px 8px;
	width: 24%;
	text-align: center;
}

.nav-section .topnav li a {
	text-decoration: none;
	display: block;
	color: darkblue;
	line-height: 30px;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: none;
}

/* ============== when active ======*/
.nav-section .topnav li:hover{
	background-color: lightgreen;
}

/* ============== when hover ======*/
.nav-section .topnav li:hover:not(.active) {
	background-color: lightgrey;
}

.title-sec {
	height: 62px;
	width: 100%;
	
}

.title-txt {
	font-size: 2em;
	font-family: cursive;
	text-align: center;

}

.title-txt  a {
	text-decoration: none;
}

.title-txt  a:hover {
	color: grey;
	text-shadow: 2px 2px 4px grey;
}



/*
==================================================================================
main content
==================================================================================
*/

.maincontent{
	margin-top: 112px;
/*	background: red;*/
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: row;
}

.photo-part{
	position: relative;
	top: 37px;
	left: 37px;
	height: 400px;
	width: 38%;
/*	background: grey;*/
}
.dbio-img{
	height: 380px;
	width: 270px;
	position: relative;
	top: 30px;
	left:60px;
	border-radius: 140px;
}

.text-part{
	background: #e6eaf2;
	width: 68%;
	height: 600px;

}

.text-part2{
	width:95%;
	height: 550px;
	position: relative;
	top: 20px;
	left: 20px;
/*	background: white;*/
}

.text-part, .text-part2  .h1{
	color: darkblue;
	font-family: Calibri;
	text-align: center;
}

.parabio{
	text-decoration: none;
	font-size: 2em;
	color: tomato;
	font-family: cursive;
}



/*
==================================================================================
main content
==================================================================================
*/


/*
==================================================================================
Footer part
==================================================================================
*/
.footer{
	color: white;
	height: 300px;
	width: 100%;
	background: #01060f;
	background:-webkit-linear-gradient(90deg, #01060f, white);
}

.top-part{
	height: 150px;
	color: #4d5a70;
	text-align: center;
	font-size: 2.4em;
	font-family: cursive;
}
.upper-left-part {
	background-color: pink;
}

.upper-part{
	height: 100px;
}

.first, .second, .third {
	float: left;
	text-align: center;
}

.upper-middle-part {
	float: right;
}

.first, .second, .third {
	font-size: 18px;
	margin-right: 25px;
}


.upper-left-part, .upper-right-part{
	width: 34%;
}

.fb, .mail, .gram, .tweet{
	height: 50px;
	padding: 8px 8px;
	margin-left: 12px;
	width: 50px;

} 

.lower-part{
	height: 50px;
	text-align: center;
	font-family: cursive;

}