
/* ============== For header ===============*/
@media screen and (max-width: 650px ) 
{


	.header {
		position: static;
		height: 83px;
	}

	.nav-section {
		margin-left: -9%;
		position: static;
		height: 160px;
		background-color: lime;
	}

	.nav-section .topnav li {
		display: block;
		width: auto;
		height: 40px;
		border-bottom: 1px solid white;
		background-color: lightgreen;
		position: static;
	}

	/* ============ For Dixit Gurung name ========*/
	.title-txt {
		font-size: 1.3em;
	}

	/* ========== For main-image ================*/
	.temple, .myquote {
		margin-top: 30px;
	}
		
	/* ============ For Home icon ===============*/
	.homeimg {
		max-width: 80px;
		max-height: 60px;
		margin-top: 40px;
	}

	.welcomesentence2 {	
		font-size: 1.1em;
		margin-top: -30px;
		margin-left: -30px;
	}

	.top-part {
		font-size: 1.1em;
		margin-top: -30px;
	} 
	
	/* ============= For privacy policy ============*/
	.upper-left-part {
		margin-left: 30%;	
	}
	
	 .first, .second, .third {
		display: block;
		width: 100%;
		margin-left: -9%;
		margin: 0 auto;
	}


	.upper-middle-part {
		width: auto;
	}
	
	/* ============  For Icon ==========*/
	.fb {
		height: 38px;
		display: inline-block;
		color: green;
		margin: 0 auto;
		width: auto;
		position: relative;
		right: 53px;
	}

	/* ============  For footer lower-part ============*/
	.lower-part {
		position: relative;
		top: 16px;
		display: inline-block;
		width: 100%;
		height: 80px;
		background-color: #5E6167;
	}
}

/* =============== For Cv ===============*/
@media screen and (max-width: 650px ) 
{
.body-section {
	height: 2000px;
	background-color: lightgrey;
}

.first, .second, .third {
	color: lightgrey;
}

.section-one {
	display: block;
	height: 400px;
	width: 100%;
}

.item-one {
	height: 160px;
	width: 200px;
	position: relative;
	top: -5px;
}

 .circle-box {
 	height: 90px;
 	width: 90px;
 	border-radius: 90px;
 	background-color: red;
 }

  .circle-box:hover {
 	height: 90px;
 	width: 90px;
 	border-radius: 90px;
 	background-color: red;
 }

	.circle-box > p {
		font-size: 0.7em;
	}

	.item-one, .item-two, .item-three {
		float: left;
		display: block;
		width: 100%;

	}


	.cvpara, .cvpara3 {
		height: 50px;
		width: 200px;
		font-size: 0.7em;
	}

	.text-box {
		height: 150px;
	}

	.item-two {
		position: relative;
		top: 90px;
	}

	.item-one {
		margin-top: 40px;
	}

	.section-two {
		position: relative;
		bottom: 30px;
	}
}